<div class="tooltip-wrapper">
  <!-- Contenido sobre el que se hace hover -->
  <ng-content></ng-content>

  <!-- Tooltip flotante -->
  <div
    *ngIf="isVisible()"
    class="tooltip"
    [class.tooltip--top]="position() === 'top'"
    [class.tooltip--bottom]="position() === 'bottom'"
    [class.tooltip--left]="position() === 'left'"
    [class.tooltip--right]="position() === 'right'"
    role="tooltip">
    {{ text() }}
    
    <!-- Flecha del tooltip -->
    <div class="tooltip__arrow"></div>
  </div>
</div>
