@use '../../../../styles/00-settings/variables' as vars;

.notification {
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: flex-start;
  gap: vars.$espaciado-s;
  padding: vars.$espaciado-s vars.$espaciado-m;
  border: vars.$borde-brutal-medium;
  border-radius: vars.$radio-s;
  box-shadow: 6px 6px 0px var(--shadow-color);
  min-width: 300px;
  max-width: 400px;
  opacity: 0;
  transform: translateX(400px);
  transition: all vars.$transicion-base;

  @media (max-width: vars.$breakpoint-tablet) {
    min-width: 280px;
    max-width: calc(100vw - 2rem);
  }

  &__icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: vars.$espaciado-xs;
  }

  &__title {
    font-size: vars.$tamanio-fuente-parrafo;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
  }

  &__message {
    font-size: vars.$tamanio-fuente-texto-pequeno-m;
    margin: 0;
    line-height: 1.4;
  }

  &__dismiss {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    padding: 0;
    opacity: 0.8;
    color: inherit;
    transition: all vars.$transicion-rapida;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }

    &:focus {
      outline: 2px solid currentColor;
      outline-offset: 2px;
    }
  }

  // Posiciones
  &--top-right {
    top: vars.$espaciado-m;
    right: vars.$espaciado-m;
  }

  &--top-left {
    top: vars.$espaciado-m;
    left: vars.$espaciado-m;
    transform: translateX(-400px);
  }

  &--bottom-right {
    bottom: vars.$espaciado-m;
    right: vars.$espaciado-m;
  }

  &--bottom-left {
    bottom: vars.$espaciado-m;
    left: vars.$espaciado-m;
    transform: translateX(-400px);
  }

  // Estado visible
  &--visible {
    opacity: 1;
    transform: translateX(0);

    &.notification--top-left,
    &.notification--bottom-left {
      transform: translateX(0);
    }
  }

  // Tipos
  &--success {
    background-color: vars.$color-exito;
    border-color: var(--border-color);
    color: var(--text-dark);
  }

  &--error {
    background-color: vars.$color-error;
    border-color: var(--border-color);
    color: var(--text-white);
  }

  &--warning {
    background-color: vars.$color-advertencia-light;
    border-color: var(--border-color);
    color: var(--text-dark);
  }

  &--info {
    background-color: vars.$color-informacion;
    border-color: var(--border-color);
    color: var(--text-white);
  }
}
