@use '../../../../styles/00-settings/variables' as vars;
@use '../../../../styles/01-tools/mixins' as mix;

.notification {
  position: fixed;
  z-index: vars.$z-notification;
  display: flex;
  align-items: flex-start;
  gap: vars.$espaciado-s;
  padding: vars.$espaciado-s vars.$espaciado-m;
  border: vars.$borde-brutal-medium;
  border-radius: vars.$radio-s;
  box-shadow: 6px 6px 0px var(--shadow-color);
  min-width: 300px;
  max-width: 400px;
  opacity: 0;
  transform: translateX(400px);
  transition: all vars.$transicion-base;

  @include mix.mobile-down {
    min-width: 280px;
    max-width: calc(100vw - 2rem);
  }

  &__icon {
    @include mix.icon-container(24px);
  }

  &__content {
    flex: 1;
    @include mix.flex-column(vars.$espaciado-xs);
  }

  &__title {
    font-size: vars.$tamanio-fuente-parrafo;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
  }

  &__message {
    font-size: vars.$tamanio-fuente-texto-pequeno-m;
    margin: 0;
    line-height: 1.4;
  }

  &__dismiss {
    @include mix.dismiss-button(24px);
    opacity: 0.8;
  }

  // Posiciones
  &--top-right {
    top: vars.$espaciado-m;
    right: vars.$espaciado-m;
  }

  &--top-left {
    top: vars.$espaciado-m;
    left: vars.$espaciado-m;
    transform: translateX(-400px);
  }

  &--bottom-right {
    bottom: vars.$espaciado-m;
    right: vars.$espaciado-m;
  }

  &--bottom-left {
    bottom: vars.$espaciado-m;
    left: vars.$espaciado-m;
    transform: translateX(-400px);
  }

  // Estado visible
  &--visible {
    opacity: 1;
    transform: translateX(0);

    &.notification--top-left,
    &.notification--bottom-left {
      transform: translateX(0);
    }
  }

  // Tipos con mixin de colores de estado
  &--success {
    @include mix.state-colors('success');
  }

  &--error {
    @include mix.state-colors('error');
  }

  &--warning {
    @include mix.state-colors('warning');
  }

  &--info {
    @include mix.state-colors('info');
  }
}
