<div [class]="notificationClasses" [ngStyle]="stackStyles" role="alert" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="notification__icon">
    <lucide-icon [img]="lucideIcon" [size]="20" *ngIf="lucideIcon; else fallbackIcon"></lucide-icon>
    <ng-template #fallbackIcon>{{ defaultIcon }}</ng-template>
  </div>

  <div class="notification__content">
    @if (title) {
    <h3 class="notification__title">{{ title }}</h3>
    }
    @if (message) {
    <p class="notification__message">{{ message }}</p>
    }
  </div>

  <button
    type="button"
    class="notification__dismiss"
    (click)="onDismiss()"
    aria-label="Cerrar notificación"
  >
    <lucide-icon [img]="X" [size]="16" *ngIf="X; else fallbackClose"></lucide-icon>
    <ng-template #fallbackClose>✕</ng-template>
  </button>

  @if (autoDismiss && duration > 0) {
  <div class="notification__progress" [class.notification__progress--paused]="isPaused()"></div>
  }
</div>
