@use '../../../styles/00-settings/variables' as *;

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $espaciado-m $espaciado-s;
  min-height: 150px;
  overflow: hidden;
}

.header__stripes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  
  background: linear-gradient(
    135deg,
    $color-franja-1 0%,
    $color-franja-1 10%,
    $color-franja-2 10%,
    $color-franja-2 22%,
    $color-franja-3 22%,
    $color-franja-3 40%,
    $color-franja-4 40%,
    $color-franja-4 58%,
    $color-franja-5 58%,
    $color-franja-5 76%,
    $color-franja-6 76%,
    $color-franja-6 100%
  );
}

.header__content {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav {
  background-color: $color-fondo-light;
  padding: $espaciado-s;
  display: flex;
  justify-content: center;
  border-bottom: $borde-brutal-medium;
}
