/* Reset CSS agresivo */
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	/* NOTA: Usar min-height en lugar de height para no romper sticky */
	min-height: 100%;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
	height: auto;
}
