# Dependencias
node_modules/

# Build outputs
dist/
.angular/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Tests
coverage/

# Environment files
.env
.env.*

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
