@use '../styles/00-settings/variables' as *;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: $fuente-principal;
}

router-outlet + * {
  flex: 1;
}