@use '../styles/00-settings/variables' as vars;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: vars.$color-fondo-light;
  color: vars.$color-letra-oscura;
  font-family: vars.$fuente-principal;
}

router-outlet + * {
  flex: 1;
}