@use '../../../../styles/00-settings/variables' as vars;
@use '../../../../styles/01-tools/mixins' as mix;

.form-textarea {
  @include mix.form-field-wrapper;

  &__label {
    @include mix.form-label;
  }

  &__field {
    @include mix.form-field-base;
    line-height: 1.4;
    resize: vertical;
    min-height: 80px;
  }

  &__hint {
    @include mix.form-hint;
  }

  &__error {
    @include mix.form-error-message;
  }

  &--error &__field {
    @include mix.form-field-error;
  }
}
