@use '../../../../styles/00-settings/variables' as vars;
@use '../../../../styles/01-tools/mixins' as mix;

.form-select {
  @include mix.form-field-wrapper;

  &__label {
    @include mix.form-label;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__field {
    @include mix.form-field-base;
    padding-right: vars.$espaciado-l;
    appearance: none;
    cursor: pointer;

    option {
      background-color: var(--bg-primary);
      color: var(--text-primary);
      padding: vars.$espaciado-s;
    }
  }

  &__arrow {
    position: absolute;
    right: vars.$espaciado-s;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 0.75rem;
    color: vars.$color-letra-oscura;
    transition: transform vars.$transicion-rapida;
  }

  &--focused &__arrow {
    transform: translateY(-50%) rotate(180deg);
  }

  &__hint {
    @include mix.form-hint;
  }

  &__error {
    @include mix.form-error-message;
  }

  &--error &__field {
    @include mix.form-field-error;
  }
}
