@use '../../../../styles/00-settings/variables' as vars;

.form-checkbox {
  display: flex;
  flex-direction: column;
  gap: vars.$espaciado-xs;

  &__label {
    display: flex;
    align-items: center;
    gap: vars.$espaciado-s;
    cursor: pointer;
    user-select: none;
  }

  &__input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    &:focus + .form-checkbox__box {
      outline: 2px solid vars.$color-primario-light;
      outline-offset: 2px;
    }
  }

  &__box {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: vars.$borde-brutal-thin;
    border-radius: vars.$radio-xs;
    background-color: vars.$color-fondo-light;
    box-shadow: 2px 2px 0px vars.$color-letra-oscura;
    transition: all vars.$transicion-rapida;
  }

  &__check {
    width: 14px;
    height: 14px;
    color: vars.$color-letra-oscura;
  }

  &__text {
    font-size: vars.$tamanio-fuente-texto-pequeno-m;
    color: vars.$color-letra-oscura;
    font-weight: 500;
  }

  &__error {
    font-size: vars.$tamanio-fuente-texto-pequeno-s;
    color: vars.$color-error;
    font-weight: 600;
    margin: 0;
    padding-left: calc(20px + vars.$espaciado-s);
  }

  // Estados
  &:not(.form-checkbox--disabled) &__label:hover &__box {
    transform: translate(-1px, -1px);
    box-shadow: 3px 3px 0px vars.$color-letra-oscura;
  }

  &--checked &__box {
    background-color: vars.$color-primario-light;
    border-color: vars.$color-letra-oscura;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;

    .form-checkbox__label {
      cursor: not-allowed;
    }
  }

  &--error &__box {
    border-color: vars.$color-error;
    box-shadow: 2px 2px 0px vars.$color-error;

    &:hover {
      box-shadow: 3px 3px 0px vars.$color-error;
    }
  }
}
