<div *ngIf="isVisible" [class]="alertClasses" role="alert">
  <div class="alert__icon">
    <lucide-icon [img]="lucideIcon" [size]="20" *ngIf="lucideIcon else fallbackIcon"></lucide-icon>
    <ng-template #fallbackIcon>{{ defaultIcon }}</ng-template>
  </div>

  <div class="alert__content">
    <h3 *ngIf="title" class="alert__title">{{ title }}</h3>
    <p *ngIf="message" class="alert__message">{{ message }}</p>
  </div>

  <button
    *ngIf="dismissible"
    type="button"
    class="alert__dismiss"
    (click)="onDismiss()"
    aria-label="Cerrar alerta"
  >
    <lucide-icon [img]="XCircle" [size]="16" *ngIf="XCircle; else fallbackClose"></lucide-icon>
    <ng-template #fallbackClose>✕</ng-template>
  </button>
</div>
