@use '../../../../styles/00-settings/variables' as vars;
@use '../../../../styles/01-tools/mixins' as mix;

.alert {
  display: flex;
  align-items: flex-start;
  gap: vars.$espaciado-s;
  padding: vars.$espaciado-s vars.$espaciado-m;
  @include mix.brutal-box(vars.$color-fondo-light, vars.$borde-brutal-medium);
  transition: all vars.$transicion-base;
  width: 100%;

  &__icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    @include mix.flex-center;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
  }

  &__content {
    flex: 1;
    @include mix.flex-column(vars.$espaciado-xs);
  }

  &__title {
    font-size: vars.$tamanio-fuente-parrafo;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
  }

  &__message {
    font-size: vars.$tamanio-fuente-texto-pequeno-m;
    margin: 0;
    line-height: 1.4;
  }

  &__dismiss {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    @include mix.flex-center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1;
    padding: 0;
    opacity: 0.7;
    transition: all vars.$transicion-rapida;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }

    &:focus {
      outline: 2px solid currentColor;
      outline-offset: 2px;
    }
  }

  // Tipos
  &--success {
    background-color: vars.$color-exito;
    border-color: vars.$color-letra-oscura;
    color: vars.$color-letra-oscura;
  }

  &--error {
    background-color: vars.$color-error;
    border-color: vars.$color-letra-oscura;
    color: vars.$color-fondo-light;
  }

  &--warning {
    background-color: vars.$color-advertencia-light;
    border-color: vars.$color-letra-oscura;
    color: vars.$color-letra-oscura;
  }

  &--info {
    background-color: vars.$color-informacion;
    border-color: vars.$color-letra-oscura;
    color: vars.$color-fondo-light;
  }

  // Estado oculto
  &--hidden {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
  }
}
