@use '../../../styles/00-settings/variables' as vars;
@use '../../../styles/01-tools/mixins' as mixins;

.settings {
  min-height: 100vh;
  padding: vars.$espaciado-l 0;

  @media (max-width: vars.$breakpoint-mobile-sm) {
    padding: vars.$espaciado-s 0;
  }

  &__container {
    max-width: vars.$ancho-maximo-contenedor;
    margin: 0 auto;
    padding: 0 vars.$espaciado-m;

    @include mixins.respond-to('mobile') {
      padding: 0 vars.$espaciado-s;
    }

    @media (max-width: vars.$breakpoint-mobile-sm) {
      padding: 0 vars.$espaciado-xs;
    }
  }
}
