/* --- Variables de colores de fondo --- */

/* Modo light */
$color-fondo-light: #FBFAF2;
$color-fondo-light-secundario: #F1E8CD;

/* Modo oscuro */
$color-fondo-oscuro: #015F72 opacity 0.75;
$color-fondo-oscuro-secundario: #D8C793;

/* --- Variables de colores de texto --- */
$color-letra-blanca: #FBFAF2;
$color-letra-oscura: #01131B;
$color-letra-desactivado: #01131B, opacity 0.5;

/* Modo light */
$color-letra-principal-light: #001111;

/* Modo oscuro */
$color-letra-principal-dark: #FBFAF2;

/* --- Variables de colores principales --- */

/* Modo light */
$color-primario-light: #ED9C05;
$color-secundario-light: #CA6703;
$color-contraste-light: #BB3F03;
$color-acentuado-light: #9D2227;

/* Modo oscuro */
$color-primario-dark: #93CFBB;
$color-secundario-dark: #015F72;
$color-contraste-dark: #013946;
$color-acentuado-dark: #012630;

/* --- Variables de colores de estado y apoyo --- */
$color-error: #E04A4A;
$color-advertencia-light: #FFC047;
$color-advertencia-dark: #FEF84A;
$color-exito: #AAD661;
$color-informacion: #329DAB;

/* --- Variables de escala tipográfica --- */

// Familias tipográficas
$fuente-principal: 'Space Grotesk', sans-serif;
$fuente-secundaria: 'Monoton';

// Tamaños de fuente y altura de linea:

// Fuente h1
$tamanio-fuente-h1: 4.25rem;
$altura-linea-h1: 4.5rem;

// Fuente h2
$tamanio-fuente-h2: 2.625rem;
$altura-linea-h2: 3rem;

// Fuente h3
$tamanio-fuente-h3: 1.625rem;
$altura-linea-h3: 3rem;

// Fuente h4
$tamanio-fuente-h4: 1rem;
$altura-linea-h4: 3rem;

// Parrafo
$tamanio-fuente-parrafo: 1rem;
$altura-linea-parrafo: 1.5rem;

// Texto pequeño S
$tamanio-fuente-texto-pequeno-s: 0.875rem;
$altura-linea-texto-pequeno-s: 1.5rem;

// Texto pequeño XS
$tamanio-fuente-texto-pequeno-xs: 0.75rem;
$altura-linea-texto-pequeno-xs: 1rem;

// Texto leyenda
$tamanio-fuente-leyenda: 0.75rem italic;
$altura-linea-leyenda: 1rem;

/* --- Variables de espaciado --- */
$espaciado-xs: 0.5rem;
$espaciado-s: 1rem;
$espaciado-m: 2rem;
$espaciado-l: 3rem;
$espaciado-xl: 4rem;
$espaciado-xxl: 5rem;

/* --- Variables de breakpoints --- */
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1200px;
$breakpoint-ultra-wide: 1600px;

/* --- Variables de sombras --- */

$sombra-