<div
  class="rating"
  [class]="'rating--' + size()"
  [class.rating--interactive]="interactive()"
  (mouseleave)="onMouseLeave()"
>
  @for (star of getStars(); track star) {
    <button
      type="button"
      class="rating__star"
      [class.rating__star--filled]="star <= displayRating()"
      [class.rating__star--empty]="star > displayRating()"
      [attr.aria-label]="interactive() ? 'Puntuar con ' + star + ' estrellas' : 'Rating: ' + star + ' estrellas'"
      [disabled]="!interactive()"
      (click)="onStarClick(star)"
      (mouseenter)="onStarHover(star)"
    >
      <lucide-icon [img]="Star" [size]="16" *ngIf="Star; else fallbackStar"></lucide-icon>
      <ng-template #fallbackStar>★</ng-template>
    </button>
  }
  @if (showValue()) {
    <span class="rating__value">{{ displayRating() }}</span>
  }
</div>
