.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;
  min-height: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

.grid--wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.grid__item {
  min-width: 200px;
  max-width: 1fr;
  min-height: 100px;
  max-height: 400px;
}