@use '../00-settings/_variables' as vars;

/* Sistema de Grid básico: mezcla de CSS Grid y Flexbox */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  gap: vars.$espaciado-m;
  width: 100%;
  min-height: 6.25rem;
  max-width: vars.$ancho-maximo-contenedor;
  margin: 0 auto;
}

.grid--wrap {
  display: flex;
  flex-wrap: wrap;
  gap: vars.$espaciado-m;
}

.grid__item {
  min-width: 12.5rem;
  min-height: 6.25rem;
  max-height: 25rem;
}
