@use '../00-settings/css-variables' as *;
@use '../00-settings/variables' as *;
@use '../01-tools/mixins' as *;
@use './grid' as *;

.estadisticas {
  min-height: 60vh;
  padding: $espaciado-l;

  &__container {
    max-width: 900px;
    margin: 0 auto;
  }

  &__header {
    text-align: center;
    margin-bottom: $espaciado-xl;
  }

  &__header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 0 auto $espaciado-s;
    background: var(--color-practica2);
    color: var(--bg-primary);
    border-radius: $radio-m;
    border: $borde-brutal-medium;
    box-shadow: $sombra-brutal-xs;
  }

  &__title {
    font-size: $tamanio-fuente-h2;
    font-weight: 700;
    color: var(--text-primary);
    margin-bottom: $espaciado-xs;
  }

  &__subtitle {
    font-size: $tamanio-fuente-parrafo;
    color: var(--text-secondary);
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: $espaciado-s;

  }

  &__loading {
    display: flex;
    justify-content: center;
    padding: $espaciado-xxl 0;
  }
}
